<% if flash[:error] %>
  <div class="error_explanation">
    <strong>Errors:</strong>
    <% flash[:error].each do |e| %>
      <li><%= e %></li>
    <% end %>
    <% flash.clear %>
  </div>
<% end %>

<%= form_for @task do |f| %>
  <%= f.hidden_field :project_id %>
  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit %>
<% end %><br>

<%= link_to "Go Back to Project", project_path(@task.project) %>