<h2>Project: <%= @project.name %></h2>
<p>Description: <%= @project.description %></p>
<ul> 
<p>Teammates on this project</p>
<% @project.users.each do |user| %>
<li><%= user.name %></li>
<% end %>
<p>Tasks To Do</p>
<% @project.tasks.select { |task| task.complete == false }.each do |task| %>
<li><%= link_to task.content, project_task_path(@project, task) %>

<%= form_for task, :url => task_complete_path(task), :method => 'get' do |f| %>
    <%= f.hidden_field :id %>
    <%= f.submit value='Completed' %>
<% end %></li>

<% end %><br>

<p>Tasks Completed</p>
<% @project.tasks.select { |task| task.complete == true }.each do |task| %>
  <li><%= link_to task.content, project_task_path(@project, task) %></li>
<% end %><br><br>

<%= link_to "Add Another Task", new_project_task_path(@project) %>
<p><%= link_to "Edit Project", edit_project_path(@project) %></p>
<%= link_to "Delete Project", @project, method: :delete %>
